@import url(navbar.css);
@import url(footer.css);
@import url(slideshow.css);
@import url(gallery.css);
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"); /* GOOGLE FONT OSWALD*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
}

.introduction {
  background-color: #3c3633;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.introduction img {
  margin-right: 2vw;
  background-color: #e0ccbe;
  padding: 50px;
  height: 700px;
  text-align: right;
}

.introduction-text {
  padding: 0 2vw;
  align-content: flex-start;
  text-align: left;
  margin: 0;
}

.introduction-text h1 {
  font-family: Oswald;
  font-size: 8vh;
  color: #fff;
  margin: 2vh 2vw;
}

.introduction-text h4 {
  width: 40vw;
  color: #fff;
  margin-right: 50px;
  font-family: "Roboto Mono", monospace;
  margin: 2vh 2vw;
}
/* Book Now Button*/

.button {
  font-family: "Roboto Mono", monospace;
  width: 150px;
  margin: 80px 30%;
  display: block;
  text-decoration: none;
  padding: 20px 20px;
  background-color: #e0ccbe;
  text-align: center;
  color: #3c3633;
}

.button:hover {
  border: white 2px solid;
}

/* Media Query For Introduction*/

@media screen and (max-width: 1500px) {
  .introduction-text h4 {
    margin: 2vh 0 0 4vw;
    width: auto;
    text-align: center;
  }
  .introduction-text h1 {
    margin: 2vh 0 0 4vw;
    width: auto;
    font-size: 6vh;
    text-align: center;
  }
}

@media screen and (max-width: 1340px) {
  .introduction-text {
    display: block;
    position: absolute;
    top: 20%;
    width: 60vw;
  }
  .introduction img {
    width: auto;
    height: 100vh;
  }
  .button {
    margin: 40px auto;
  }
}

@media screen and (max-width: 750px) {
  .introduction-text h1,
  h4 {
    font-size: 0.85em;
    text-align: center;
    margin: auto;
  }

  .introduction-text h1 {
    font-size: 4vh;
  }
  .button{
    margin: 10px auto;
  }
}

/* End of introduction CSS */

/**** WHY US SECTION ****/
.why-us {
  background-color: #e0ccbe;
  text-align: center;
  padding: 3vh;
}

.section-title {
  font-size: 50px;
  padding: 20px 0;
  text-align: center;
}

.why-us-card,
.why-us-card-reverse {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 80%;
  margin: auto;
  text-align: left;
}

.why-us-card div,
.why-us-card-reverse div {
  font-size: 1.3em;
  max-width: 60vw;
  margin: 3vh 4vw;
}

.why-us-card-reverse h2 {
  margin-bottom: 20px;
}

.image {
  padding: 2% 5%;
  order: 1;
}

/***Media Query for WHY US section***/

@media screen and (max-width: 1240px) {
  .why-us-card {
    display: flex;
    flex-direction: column;
  }

  .why-us-card img {
    max-width: 100vw;
  }

  .why-us-card-reverse {
    display: flex;
    flex-direction: column;
  }
  .image {
    order: 0;
  }
}

@media screen and (max-width: 670px) {
  .why-us-card, .why-us-card-reverse {
  max-width: 100%;
  margin: 3vh 0;
}
.why-us-card div, .why-us-card-reverse div {
  max-width: 100%;
}

}

/* Social Media section*/

.social-media-container {
  text-align: center;
  background-color: #3c3633;
}

.social-media-container h1 {
  color: #eeedeb;
}

.social-media {
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;

  align-items: center;
  margin: auto;
}
.social-media-icon {
  color: #eeedeb;
}

.social-media div {
  border: 4px solid #eeedeb;
  border-radius: 100%;
  padding: 12px;
}
.social-media div:hover{
  border-color: #e0ccbe;
  z-index: 4;
}


/*****ABOUT US PAGE*****/

.about-us {
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 60px auto;
  background-color: #e0ccbe;
}

.about-us h1 {
  font-size: 5vh;
}
.about-us p {
  font-size: 3vh;
  padding: 2vw 4vw;
}

@media screen and (max-width: 1250px) {
  .about-us {
    max-width: 100%;
  }
  .about-us h1{
    font-size: 4vh;
  }
  .about-us p{
    font-size: 2.5vh;
  }
}

/*BOOTSTRAP*/
.card-img-top{
  height: 20vh;
  object-fit: cover;
  object-position: top;
}



/*****CONTACT US PAGE *****/

.contact-section {
  background-color: #e0ccbe;
  padding: 6.5vh 0;
}
.contact-container {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100vw;
  max-width: 100%;
}
.form-container {
  display: flex;
  justify-content: center;
  margin: auto;
  
}
.form-control {
  
  height: 6vh;
}

.contact-input{
width: 45vw;
}

.contact-btn{
  width: 7vw
}
@media screen and (max-width: 1200px) {
  .contact-input {
    width: 80vw !important;
  }
  .contact-btn{
    width: 20vw;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
}
.first-row {
  display: flex;
  flex-direction: row;
}

.first-row input {
  padding: 10px;
  height: 3vh;
  width: 288px;
  margin: 5px;
  max-width: 80vw;
}

.email,
.subject {
  height: 3vh;
  width: 610px;
  margin: 5px;
  padding: 10px;
}

.message {
  margin: 5px;
  padding: 10px;
}

.submit-container{
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.submit-container h1{
  font-size: 20px;
}

.form-button {
  padding: 10px;
  margin: 5px;
  height: 40px;
  width: 120px;
  cursor: pointer;
  background-color: #747264;
  color: #eeedeb;
  transition: background-color 0.5s, transform 0.3s;
}
.form-button:hover {
  background-color: #6d6a56;
  transform: scale(1.05);
}

.map {
  box-shadow: 2px 2px 50px 10px #747264;
  margin: 50px auto;
  padding: 0;
}
iframe {
  width: 500px;
  height: 380px;
  max-width: 100%;
}

.error{
  color: red;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  margin-left: 20px;
}

/****  MEDIA QUERY  ****/

@media screen and (max-width: 1200px) {
  .section-title {
    font-size: 6vw;
  }
  .social-media-icon {
    width: 6vw;
    height: auto;
  }
  .contact-container {
    flex-direction: column;
  }
  iframe {
    width: 80vw;
  }
}


@media screen and (max-width: 850px) {
  .first-row {
    flex-direction: column;
  }
  .first-row input {
    width: 80vw;
  }
  .email,
  .subject,
  .message {
    width: 80vw;
  }
  .section-title {
    font-size: 8vw;
  }
  .social-media-icon {
    width: 8vw;
    height: auto;
  }
}

ul{
  margin-bottom: 0 !important;
}